.blogImg {
    background: $primary;
    height: 750px;
    margin-bottom: 257px;
    position: relative;
    @media #{$desktop-smaller} {
        height: 650px;
    }
    background: {
        size: cover;
        repeat: no-repeat;
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: #000000;
        opacity: 0.2;
    }
    .blogImg__top-left,
    .blogImg__top-right,
    .blogImg__bottom-left,
    .blogImg__bottom-right {
        position: absolute;
        width: 80px;
        height: 80px;
        opacity: 0.6;
        border-width: 2px 0px 0px 2px;
        border-style: solid;
        border-color: $white;
    }
    .blogImg__top-left {
        left: 30px;
        top: 34px;
    }
    .blogImg__top-right {
        border-width: 2px 2px 0px 0px;
        right: 30px;
        top: 34px;
    }
    .blogImg__bottom-left {
        border-width: 0px 0px 2px 2px;
        bottom: 26px;
        left: 30px;
    }
    .blogImg__bottom-right {
        border-width: 0px 2px 2px 0px;
        bottom: 26px;
        right: 30px;
    }
    .container {
        max-width: 970px;
    }
}

.blogImg__head {
    color: $white;
    @include fsz(20px);
    font: {
        family: $alt-family;
        weight: 600;
    }
    text-align: center;
    padding-top: 315px;
    letter-spacing: 0.3em;
    @media #{$desktop-smaller} {
        padding-top: 50px;
    }
}

.blogImg__body {
    background-color: $tertiary;
    padding: 50px 55px 75px 50px;
    position: relative;
    top: 194px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media #{$desktop-smaller} {
        top: 20px;
    }
    @media #{$header} {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &::before {
        content: "";
        width: 460px;
        height: 325px;
        position: absolute;
        display: block;
        background: {
            image: url("data:image/svg+xml,%0A%3Csvg width='460' height='326' viewBox='0 0 460 326' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.15'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M68.4463 295.326C70.9148 295.326 73.3194 295.347 75.679 295.366C77.9521 295.384 80.1802 295.401 82.38 295.401C95.1884 295.401 105.384 294.715 116.627 291.297C122.507 289.511 128.014 286.703 133.338 283.989C142.233 279.454 150.63 275.173 160.685 275.173C162.349 275.173 164.038 275.296 165.706 275.536C173.121 276.61 178.672 280.987 184.043 285.219C190.077 289.977 195.779 294.468 203.778 294.468C204.503 294.468 205.249 294.431 205.989 294.354C210.923 293.85 218.822 289.405 226.462 285.106C231.375 282.341 236.015 279.731 239.305 278.516C244.093 276.75 247.68 275.896 250.298 275.271C258.194 273.389 259.19 272.695 263.028 258.139C264.089 254.114 264.858 250.353 265.602 246.715C268.365 233.217 270.546 222.555 284.921 212.366C294.621 205.511 306.929 202.178 322.548 202.178C338.024 202.176 354.201 205.421 368.477 208.283C375.94 209.78 382.991 211.193 388.228 211.751C391.272 212.077 395.961 212.272 400.774 212.272C414.561 212.272 430.715 207.217 431.844 199.964C432.38 196.53 429.701 191.373 413.892 186.312L412.128 185.749C351.881 166.402 309.862 141.156 267.095 98.6068C255.299 86.8688 246.289 81.4014 238.743 81.4014C236.97 81.4014 235.237 81.7136 233.59 82.3267C225.568 85.3247 219.72 95.4603 212.946 107.196C209.448 113.256 205.484 120.123 200.799 126.734C178.111 158.749 145.55 182.14 109.116 192.603C98.367 195.689 87.8731 197.254 77.9277 197.254C45.4821 197.254 22.5855 181.35 0.906253 164.984V166.159C22.5423 182.467 45.4577 198.195 77.9277 198.195C87.9614 198.195 98.5418 196.617 109.376 193.506C146.013 182.987 178.755 159.465 201.565 127.278C206.275 120.633 210.252 113.743 213.759 107.667C220.442 96.0884 226.214 86.0883 233.919 83.2088C235.461 82.6333 237.084 82.3418 238.743 82.3418C246.026 82.3418 254.826 87.7227 266.436 99.2726C309.313 141.936 351.441 167.248 411.843 186.645L413.608 187.209C425.446 190.999 431.592 195.477 430.916 199.82C429.977 205.844 415.609 211.332 400.774 211.332C395.993 211.332 391.339 211.14 388.328 210.817C383.134 210.264 376.104 208.853 368.661 207.362C354.344 204.492 338.116 201.236 322.548 201.238C306.726 201.238 294.243 204.627 284.378 211.599C269.701 222.002 267.486 232.824 264.683 246.527C263.941 250.151 263.173 253.902 262.119 257.898C258.298 272.399 257.52 272.584 250.082 274.355C247.439 274.985 243.823 275.849 238.983 277.634C235.621 278.873 230.949 281.502 226 284.286C218.796 288.339 210.633 292.934 205.893 293.419C205.183 293.492 204.471 293.528 203.778 293.528C196.104 293.528 190.528 289.133 184.624 284.48C179.157 280.171 173.504 275.715 165.841 274.605C164.128 274.359 162.392 274.233 160.685 274.233C150.405 274.233 141.513 278.766 132.913 283.15C127.623 285.847 122.154 288.636 116.355 290.398C105.222 293.782 95.102 294.461 82.38 294.461C80.1839 294.461 77.9578 294.444 75.6865 294.425C73.3251 294.406 70.9167 294.386 68.4463 294.386C56.9717 294.386 46.7032 293.045 37.0509 290.288C24.8568 286.801 12.8956 281.927 0.906253 276.249V277.291C12.8017 282.905 24.6783 287.726 36.7954 291.19C46.5285 293.974 56.8834 295.326 68.4463 295.326Z' fill='url(%23paint0_linear_638_3)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M68.5205 275.401C84.337 275.401 101.16 272.535 118.996 269.496C139.067 266.073 159.818 262.536 181.926 262.536C183.52 262.536 185.098 262.553 186.616 262.591C194.289 262.771 200.798 264.036 206.54 265.154C211.505 266.118 215.789 266.953 219.904 266.953C229.678 266.953 236.862 261.811 244.705 249.203C248.487 243.124 251.244 235.864 253.912 228.84C258.633 216.416 263.515 203.568 274.301 195.956C278.015 193.336 285.12 191.308 292.645 189.161C305.789 185.412 320.69 181.162 322.713 172.289C325.237 161.168 302.378 145.951 290.095 137.775C287.81 136.253 285.835 134.939 284.541 133.99C270.139 123.433 258.229 116.401 246.909 116.401C245.357 116.401 243.815 116.537 242.32 116.805C233.293 118.426 225.089 124.807 216.511 136.89C191.312 172.383 155.075 198.339 114.473 209.977C102.006 213.55 89.7384 215.362 78.0123 215.362C45.5649 215.362 21.5561 202.265 0.906244 187.677V188.368C21.5524 202.916 45.5687 215.926 78.0123 215.926C89.7929 215.926 102.113 214.106 114.627 210.518C155.353 198.847 191.699 172.813 216.97 137.215C225.458 125.261 233.545 118.954 242.42 117.36C243.881 117.099 245.391 116.965 246.909 116.965C258.074 116.965 269.894 123.953 284.206 134.445C285.51 135.401 287.49 136.719 289.783 138.245C301.951 146.344 324.602 161.422 322.162 172.165C320.214 180.711 305.484 184.912 292.489 188.618C284.919 190.78 277.767 192.819 273.974 195.495C263.049 203.207 258.136 216.136 253.386 228.641C250.727 235.638 247.977 242.874 244.227 248.906C236.501 261.324 229.454 266.387 219.904 266.387C215.844 266.387 211.584 265.558 206.649 264.6C200.885 263.48 194.349 262.209 186.631 262.027C185.106 261.991 183.524 261.972 181.926 261.972C159.771 261.972 138.993 265.515 118.874 268.945C101.088 271.977 84.29 274.838 68.5205 274.838C58.7861 274.838 50.1782 273.732 42.2041 271.456C28.541 267.556 14.8571 261.604 0.906244 254.627V255.259C14.797 262.194 28.4281 268.111 42.0499 271.998C50.0748 274.289 58.7334 275.401 68.5205 275.401Z' fill='url(%23paint1_linear_638_3)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M68.5214 262.401C83.2267 262.401 99.5249 259.635 116.78 256.708C137.391 253.208 158.703 249.59 181.928 249.59C183.643 249.59 185.327 249.609 186.929 249.648C188.315 249.68 189.68 249.718 191.023 249.753C194.534 249.849 197.852 249.938 201.047 249.938C221.054 249.938 233.446 245.881 241.612 224.479C246.773 210.947 252.626 195.611 266.667 185.722C270.639 182.924 274.609 180.536 278.117 178.428C286.242 173.543 292.659 169.684 292.899 164.356C293.119 159.456 288.141 153.564 276.757 145.25C265.836 137.277 256.852 133.401 249.291 133.401C248.609 133.401 247.924 133.435 247.256 133.495C236.273 134.511 228.906 143.544 219.582 154.977C215.341 160.176 210.536 166.066 204.901 171.674C180.476 195.982 150.464 213.712 118.104 222.946C104.458 226.841 90.9696 228.817 78.0134 228.817C46.0094 228.817 21.327 217.298 0.906246 203.985V204.659C21.3326 217.93 46.0188 229.379 78.0134 229.379C91.0204 229.379 104.561 227.397 118.259 223.485C150.71 214.225 180.809 196.446 205.302 172.07C210.957 166.443 215.77 160.54 220.018 155.331C229.262 144 236.563 135.048 247.309 134.055C247.958 133.995 248.626 133.965 249.291 133.965C256.726 133.965 265.603 137.805 276.422 145.703C287.639 153.895 292.546 159.639 292.335 164.33C292.107 169.359 285.803 173.149 277.824 177.947C274.31 180.06 270.329 182.454 266.34 185.263C252.159 195.252 246.277 210.674 241.084 224.281C233.034 245.377 220.802 249.377 201.047 249.377C197.86 249.377 194.546 249.287 191.04 249.193C189.695 249.156 188.33 249.12 186.944 249.087C185.336 249.048 183.647 249.029 181.928 249.029C158.656 249.029 137.32 252.65 116.686 256.154C99.4534 259.077 83.1778 261.84 68.5214 261.84C60.0282 261.84 52.6013 260.904 45.8194 258.976C31.2402 254.833 16.3168 248.039 0.906246 240.111V240.743C16.2528 248.628 31.1217 255.383 45.6652 259.515C52.4997 261.458 59.9736 262.401 68.5214 262.401Z' fill='url(%23paint2_linear_638_3)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M68.394 249.401C81.9715 249.401 97.7096 246.729 114.384 243.895C135.487 240.308 157.308 236.599 181.587 236.599C183.363 236.599 185.131 236.617 186.882 236.66L191.016 236.767C194.425 236.859 197.644 236.946 200.67 236.946C226.969 236.946 228.27 222.543 229.648 207.293C230.406 198.929 231.187 190.28 235.812 182.931C237.464 180.307 241.9 176.985 246.597 173.469C256.598 165.984 267.932 157.498 262.494 149.554C260.154 146.135 257.336 144.401 254.118 144.401C252.358 144.401 250.449 144.923 248.44 145.956C239.57 150.514 230.083 164.016 222.46 174.864C218.135 181.022 214.398 186.339 212.357 187.555C210.215 188.831 207.824 189.003 205.767 189.003C204.971 189.003 204.167 188.975 203.364 188.947C202.542 188.917 201.717 188.889 200.895 188.889C197.805 188.889 194.537 189.257 191.59 191.93C188.035 195.154 187.586 199.331 187.156 203.369C186.766 207.001 186.398 210.43 183.976 213.316C176.659 222.032 150.983 228.122 133.993 232.151C128.993 233.338 124.675 234.362 121.454 235.284C106.673 239.507 92.0087 241.65 77.868 241.65C46.48 241.65 21.3842 231.401 0.906247 219.135V220.233C21.4011 232.437 46.5007 242.586 77.868 242.586C92.095 242.586 106.848 240.431 121.713 236.181C124.913 235.267 129.222 234.244 134.213 233.062C152.344 228.76 177.177 222.87 184.695 213.916C187.303 210.811 187.703 207.078 188.089 203.468C188.521 199.426 188.93 195.607 192.221 192.622C194.933 190.162 197.993 189.824 200.895 189.824C201.706 189.824 202.519 189.852 203.33 189.88C204.147 189.908 204.959 189.938 205.767 189.938C207.952 189.938 210.501 189.749 212.836 188.359C215.053 187.039 218.661 181.905 223.23 175.401C230.393 165.204 240.207 151.24 248.87 146.788C254.154 144.074 258.335 145.135 261.719 150.08C266.652 157.286 255.697 165.488 246.034 172.721C241.057 176.447 236.76 179.664 235.016 182.434C230.271 189.973 229.481 198.736 228.713 207.209C227.316 222.664 226.111 236.011 200.67 236.011C197.655 236.011 194.443 235.923 191.042 235.832L186.907 235.725C185.146 235.682 183.37 235.663 181.587 235.663C157.229 235.663 135.369 239.38 114.215 242.975C97.5932 245.799 81.8926 248.466 68.394 248.466C61.1725 248.466 54.9572 247.697 49.3933 246.115C34.0513 241.748 17.8514 233.993 0.906247 225.038V226.096C17.7369 234.977 33.843 242.662 49.1362 247.015C54.7846 248.621 61.0862 249.401 68.394 249.401Z' fill='url(%23paint3_linear_638_3)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M296.191 227.523C302.566 223.014 311.295 220.821 322.873 220.821C336.477 220.819 351.692 223.873 365.117 226.565C373.03 228.153 380.504 229.652 386.608 230.304C389.598 230.622 397.622 231.364 407.512 231.364C425.832 231.364 449.327 228.878 457.221 217.031C460.655 211.881 460.796 205.408 457.64 197.794C456.157 194.217 452.324 192.275 448.618 190.397C445.686 188.91 442.653 187.373 440.972 185.081C438.976 182.362 437.799 178.555 436.661 174.873C435.146 169.969 433.579 164.898 430.019 161.903C425.606 158.188 420.764 156.459 414.776 156.459C410.622 156.459 406.372 157.301 402.265 158.113C398.205 158.917 394.008 159.748 389.953 159.748C386.062 159.748 382.676 158.976 379.597 157.388C372.122 153.528 368.978 148.332 365.935 143.308C361.971 136.757 358.227 130.569 345.883 127.675C320.058 121.621 312.98 115.297 295.88 100.016C293.676 98.0457 291.307 95.9302 288.712 93.649C282.557 88.237 278.01 82.0601 273.617 76.0867C269.696 70.7576 265.64 65.2458 260.423 60.2143C254.003 54.0243 247.957 51.2702 242.111 48.6066C234.316 45.0576 226.958 41.7045 220.28 30.2193L219.238 28.4184C210.838 13.8664 202.345 0.401363 197.127 0.401363C196.288 0.401363 195.564 0.731028 194.972 1.38092C193.089 3.44363 192.582 8.92724 193.415 18.1444C193.904 23.547 197.8 28.3732 201.569 33.043C205.632 38.0764 209.471 42.8329 209.241 48.0867C208.967 54.3878 205.162 57.4885 201.138 60.77C198.189 63.1717 195.143 65.6564 193.358 69.503C189.073 78.7447 188.033 87.0238 187.03 95.0279C185.631 106.17 184.313 116.695 174.356 128.602C156.54 149.905 131.548 165.998 103.985 173.918C94.8023 176.555 86.3043 177.838 78.0056 177.838C49.8429 177.838 29.6368 162.493 8.24403 146.247C5.82381 144.407 3.37536 142.557 0.906243 140.711V142.357C3.10457 144.005 5.28784 145.656 7.45043 147.296C29.0237 163.681 49.401 179.156 78.0056 179.156C86.4284 179.156 95.0449 177.856 104.348 175.185C132.161 167.194 157.382 150.951 175.367 129.448C185.571 117.245 186.914 106.534 188.335 95.1937C189.326 87.2875 190.351 79.1139 194.552 70.0587C196.207 66.4872 199.135 64.1004 201.967 61.7928C206.042 58.4718 210.255 55.0377 210.556 48.1451C210.808 42.3921 206.631 37.2174 202.594 32.2142C198.947 27.6988 195.181 23.029 194.725 18.0258C193.746 7.18288 194.848 3.47377 195.944 2.27005C196.286 1.89519 196.662 1.71998 197.127 1.71998C202.306 1.71998 213.371 20.8909 218.096 29.0777L219.142 30.8843C226.03 42.7312 233.577 46.1671 241.565 49.8065C247.31 52.425 253.253 55.1319 259.509 61.1637C264.647 66.1179 268.669 71.5827 272.556 76.8685C276.994 82.8984 281.581 89.1336 287.845 94.6398C290.434 96.9173 292.802 99.0327 295.004 101.001C312.28 116.439 319.432 122.828 345.582 128.96C357.386 131.727 360.993 137.684 364.811 143.992C367.947 149.173 371.187 154.53 378.995 158.559C382.264 160.247 385.848 161.067 389.953 161.067C394.135 161.067 398.399 160.223 402.519 159.407C406.568 158.605 410.75 157.778 414.776 157.778C420.436 157.778 425.01 159.409 429.173 162.913C432.436 165.659 433.944 170.54 435.403 175.263C436.573 179.049 437.784 182.965 439.911 185.862C441.776 188.407 444.953 190.016 448.023 191.572C451.677 193.424 455.128 195.174 456.424 198.299C459.401 205.482 459.301 211.538 456.127 216.3C448.556 227.661 425.51 230.046 407.512 230.046C397.684 230.046 389.716 229.309 386.747 228.993C380.705 228.347 373.258 226.853 365.377 225.272C351.891 222.567 336.609 219.501 322.873 219.501C311.013 219.502 302.037 221.772 295.429 226.446C278.973 238.103 283.693 255.68 288.259 272.679C293.135 290.838 298.175 309.616 277.904 321.869C275.475 323.339 272.225 324.083 268.25 324.083C256.13 324.083 239.053 317.446 222.538 311.026C208.158 305.435 194.573 300.155 185.737 299.946C184.463 299.916 183.198 299.903 181.923 299.903C181.919 299.903 181.915 299.903 181.91 299.903C162.915 299.903 143.713 303.183 125.144 306.357C106.608 309.523 87.4401 312.797 68.5146 312.797C55.2738 312.797 43.3232 311.22 31.9761 307.975C21.4847 304.974 11.1306 301.014 0.906243 296.48V297.917C11.0065 302.374 21.2384 306.274 31.6151 309.243C43.0806 312.522 55.1516 314.116 68.5146 314.116C87.551 314.116 106.776 310.832 125.366 307.656C143.882 304.494 163.027 301.222 181.91 301.222C183.198 301.18 184.439 301.235 185.708 301.265C194.314 301.468 207.793 306.707 222.064 312.257C238.69 318.718 255.882 325.401 268.25 325.401C272.528 325.401 275.909 324.616 278.583 323C299.705 310.232 294.532 290.966 289.528 272.338C284.877 255.013 280.483 238.647 296.191 227.523Z' fill='url(%23paint4_linear_638_3)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_638_3' x1='430.028' y1='215.728' x2='-1.4365' y2='217.736' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23203942'/%3E%3Cstop offset='1' stop-color='%23203942' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_638_3' x1='321.503' y1='216.204' x2='-0.843944' y2='217.713' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23203942'/%3E%3Cstop offset='1' stop-color='%23203942' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_638_3' x1='291.634' y1='214.374' x2='-0.679285' y2='215.903' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23203942'/%3E%3Cstop offset='1' stop-color='%23203942' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_638_3' x1='262.76' y1='210.309' x2='-0.5202' y2='211.833' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23203942'/%3E%3Cstop offset='1' stop-color='%23203942' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_638_3' x1='457.906' y1='204.401' x2='-1.59376' y2='205.901' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23203942'/%3E%3Cstop offset='1' stop-color='%23203942' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            size: cover;
            repeat: no-repeat;
            position: center;
        }
        top: 0;
        left: 0;
    }
    &::after {
        content: "";
        width: 100%;
        height: 25px;
        position: absolute;
        background: {
            image: url("data:image/svg+xml,%0A%3Csvg width='970' height='25' viewBox='0 0 970 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M919.654 5.68001C932.255 5.78619 948.764 5.82501 954.902 6.5018C958.052 6.32101 963.403 6.10963 970 6.00357V24.9998H0.00013206C8.05614e-05 14.4997 -0.000104723 12.9997 8.05614e-05 5.74646C39 1.99971 69.2513 4.47186 89.5001 5.94355C100 6.7067 126.5 8.85825 147.5 7.99972C168.5 7.14118 186.641 3.78847 218.5 3.29229C243.987 2.89535 308 7.99972 308 7.99972C308 7.99972 373 0.37923 412.5 5.29229C452 10.2054 487.559 6.00668 504 6.11412C512.79 6.17156 546 10.5001 565.5 10.5001C580.589 10.5001 614.5 -3.50009 679.527 7.62598C690.508 8.77605 728.829 10.9963 744 10.5001C759.171 10.004 798.5 5.29229 798.5 5.29229C798.5 5.29229 839.932 0 846 0C867.788 0 897.745 5.49596 919.654 5.68001Z' fill='%23F5F4F1'/%3E%3C/svg%3E%0A");
            size: cover;
            repeat: no-repeat;
        }
        left: 0;
        bottom: 0;
        @media #{$desktop-smaller} {
            display: none;
        }
    }
}

.blogImg__text {
    color: $primary;
    @include fsz(20px);
    font: {
        family: $alt-family;
        weight: 500;
    }
    line-height: 1.6;
    max-width: 450px;
    @media #{$desktop-smaller} {
        max-width: 350px;
    }
    @media #{$phone} {
        max-width: 100%;
        text-align: center;
    }
    width: 100%;
    .blogImg__title {
        @include fsz(60px);
        font: {
            family: $secondary-family;
            weight: 400;
        }
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 30px;
        @media #{$desktop-smaller} {
            @include fsz(50px);
        }
        @media #{$header} {
            @include fsz(45px);
        }
        @media #{$phone} {
            @include fsz(30px);
        }
    }
    @media #{$desktop-smaller} {
        margin-bottom: 20px;
    }
}

.blogImg__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media #{$phone} {
        justify-content: center;
    }
}

.blogImg__image {
    height: 100%;
    min-height: 290px;
    margin-left: 10px;
    border-radius: 100px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    background: {
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    .blogImg__imgTitle {
        @include fsz(15px);
        font: {
            family: $alt-family;
            weight: 500;
        }
        color: $white;
        text-align: center;
        width: 100%;
        max-width: 110px;
        padding: 0 5px 35px 5px;
    }
}