.hero {
    background: $primary;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        margin: 88px auto;
    }
}

.hero__banner {
    font-family: $alt-family;
    color: $white;
    @include fsz(18px);
    background: $secondary;
    font-weight: 500;
    padding: 7px 32px 7px 45px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 88px;
    @media #{$phone-smaller} {
        @include fsz(15px);
        margin-bottom: 40px;
    }
    &::before {
        content: '';
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0021 0C9.63589 0 9.26826 0.178886 9.05416 0.536657L8.63582 1.23389C8.45693 1.53391 8.16114 1.73674 7.82309 1.8283C7.82027 1.82971 7.81604 1.83111 7.81182 1.83252C7.47095 1.92549 7.11036 1.89732 6.80048 1.72547L6.08775 1.33108C5.35953 0.926826 4.46088 1.44376 4.4482 2.27763L4.43411 3.10163C4.42848 3.44954 4.27354 3.7735 4.02704 4.02L4.02 4.02704C3.77351 4.27354 3.44954 4.42848 3.10163 4.43411L2.27903 4.4482C1.44517 4.46229 0.926826 5.35953 1.33108 6.08775L1.72688 6.80189C1.89732 7.10895 1.92549 7.46813 1.83252 7.80759C1.82971 7.81323 1.8283 7.81886 1.82548 7.82449C1.73393 8.15973 1.53391 8.45552 1.23671 8.633L0.536658 9.05275C-0.178886 9.48236 -0.178886 10.5191 0.536658 10.9472L1.23671 11.367C1.53391 11.5445 1.73533 11.8403 1.82548 12.1741C1.82689 12.1811 1.82971 12.1868 1.83252 12.1924C1.92549 12.5319 1.89732 12.891 1.72688 13.1981L1.33108 13.9137C0.926826 14.6419 1.44517 15.5405 2.27903 15.5532L3.10163 15.5673C3.44954 15.5729 3.77351 15.7279 4.02 15.9744L4.02704 15.9814C4.27354 16.2279 4.42848 16.5519 4.43411 16.8998L4.4482 17.7224C4.46088 18.5562 5.35953 19.0746 6.08775 18.6703L6.80189 18.2731C7.10754 18.1027 7.46813 18.0745 7.80759 18.1675C7.81323 18.1689 7.81886 18.1717 7.82449 18.1745C8.15973 18.2661 8.45552 18.4675 8.633 18.7647L9.05275 19.4633C9.48236 20.1789 10.5176 20.1789 10.9472 19.4633L11.367 18.7647C11.5445 18.4675 11.8389 18.2647 12.1727 18.1745C12.1797 18.1731 12.1868 18.1703 12.1924 18.1675C12.5305 18.0745 12.8896 18.1027 13.1967 18.2731L13.9094 18.6703C14.6391 19.0746 15.5363 18.5562 15.5504 17.7224L15.5645 16.8998C15.5701 16.5519 15.725 16.2279 15.9715 15.9814L15.9786 15.9744C16.2251 15.7279 16.5491 15.5729 16.897 15.5673L17.721 15.5532C18.5548 15.5405 19.0732 14.6419 18.6689 13.9137L18.2717 13.1995C18.1013 12.8925 18.0731 12.5333 18.1661 12.1938C18.1675 12.1882 18.1703 12.1825 18.1731 12.1769C18.2647 11.8417 18.4647 11.5459 18.7633 11.3684L19.4619 10.9487C20.1789 10.5191 20.1789 9.48236 19.4648 9.05275L18.7661 8.633C18.4689 8.45552 18.2661 8.16114 18.1759 7.82731C18.1745 7.82027 18.1717 7.81323 18.1689 7.80759C18.0759 7.46954 18.1041 7.11036 18.2745 6.8033L18.6717 6.08916C19.076 5.36094 18.5576 4.46229 17.7238 4.44961L16.8998 4.43552C16.5519 4.42989 16.2279 4.27495 15.9814 4.02845L15.9744 4.02141C15.7279 3.77491 15.5729 3.45095 15.5673 3.10304L15.5532 2.27903C15.5391 1.44376 14.6419 0.926826 13.9137 1.33108L13.1995 1.72688C12.8939 1.89732 12.5333 1.92549 12.1938 1.83252C12.1882 1.82971 12.1825 1.8283 12.1769 1.82548C11.8417 1.73392 11.5459 1.53391 11.3684 1.23671L10.9487 0.536657C10.7346 0.178886 10.3683 0 10.0021 0ZM7.38503 5.72012C8.59497 5.72012 9.38517 6.55117 9.38517 7.82872C9.38517 9.09923 8.59497 9.93591 7.38503 9.93591C6.18213 9.93591 5.38489 9.09923 5.38489 7.82872C5.38489 6.5568 6.17649 5.72012 7.38503 5.72012ZM11.736 5.92436H13.615L10.5021 10.2233L8.32312 14.077H6.43566L9.49926 9.79928L11.736 5.92436ZM7.38503 6.9357C7.03993 6.9357 6.83147 7.26389 6.83147 7.82309C6.83147 8.37805 7.03993 8.71047 7.38503 8.71047C7.72449 8.71047 7.93295 8.37665 7.93295 7.82309C7.93295 7.25967 7.73576 6.9357 7.38503 6.9357ZM12.622 10.0655C13.8249 10.0655 14.6165 10.8965 14.6165 12.1671C14.6165 13.4446 13.8249 14.2799 12.622 14.2799C11.4191 14.2799 10.6289 13.4446 10.6289 12.1671C10.6289 10.8965 11.4191 10.0655 12.622 10.0655ZM12.622 11.2811C12.2783 11.2811 12.0685 11.6079 12.0685 12.1671C12.0685 12.7206 12.2783 13.0558 12.622 13.0558C12.9615 13.0558 13.1699 12.7206 13.1699 12.1671C13.1699 11.6022 12.9657 11.2811 12.622 11.2811Z' fill='white'/%3E%3C/svg%3E%0A");
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 15px;
        top: 8px;
    }
    &::after {
        content: '';
        background-image: url("data:image/svg+xml,%0A%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00113 0C0.596538 0 0.230848 0.245587 0.0791253 0.621764C-0.0745424 0.997941 0.016881 1.43064 0.30671 1.71326L3.58625 4.99945C4.59374 5.99934 4.59374 6 3.58625 6.99533L0.30671 10.2815C0.0460585 10.531 -0.0589812 10.9033 0.0324414 11.2541C0.123864 11.603 0.396186 11.8759 0.74437 11.9675C1.0945 12.0591 1.46602 11.9538 1.715 11.6927L6.60708 6.79067C6.85411 6.60161 6.99805 6.30925 7 5.99934C7 5.68943 6.85606 5.39512 6.61097 5.20605C6.60902 5.20411 6.60708 5.2041 6.60513 5.20216L1.715 0.302111C1.52827 0.10915 1.26956 0 1.00113 0Z' fill='white'/%3E%3C/svg%3E%0A");
        width: 7px;
        height: 12px;
        display: block;
        position: absolute;
        right: 15px;
        top: 13px;
    }
}

.hero__title {
    font-family: $secondary-family;
    color: $white;
    @include fsz(36px);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    line-height: 1;
    @media #{$phone-smaller} {
        @include fsz(25px);
    }
    strong {
        @include fsz(230px);
        letter-spacing: -0.05em;
        background: linear-gradient(189.82deg, #FFFFFF 20.61%, #203842 86.39%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        @media #{$desktop-smaller} {
            @include fsz(200px);
        }
        @media #{$header} {
            @include fsz(150px);
        }
        @media #{$phone} {
            @include fsz(100px);
        }
        @media #{$phone-smaller} {
            @include fsz(50px);
        }
    }
}

.hero__searchBar {
    width: 700px;
    height: 80px;
    border-radius: 50px !important;
    position: absolute;
    bottom: 20px;
    @media #{$desktop-smaller} {
        width: 600px;
    }
    @media #{$header} {
        bottom: 0;
        width: 500px;
        height: 70px;
    }
    @media #{$phone} {
        bottom: -30px;
        width: 400px;
    }
    @media #{$phone-smaller} {
        bottom: -60px;
        width: 300px;
    }
}