.button {
    background-color: $secondary;
    font-family: $alt-family;
    color: $white;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 35px;
    font-weight: 700;
}