@font-face {
    font-family: 'Casus Pro';
    src: local('Casus Pro');
    src: url(fonts/CasusPro.woff);
    src: url(fonts/CasusPro.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Prospectus Std';
    src: local('Prospectus Std');
    src: url(fonts/ProspectusProSDEMO-Regular.woff);
    src: url(fonts/ProspectusProSDEMO-Regular.woff2);
    font-style: normal;
    font-weight: 400;
}